<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Quickblox</key>
		<dict>
			<key>ApplicationID</key>
			<integer>your_app_id</integer>
			<key>AuthKey</key>
			<string>your_auth_key</string>
			<key>AuthSecret</key>
			<string>your_auth_secret</string>
			<key>AccountKey</key>
			<string>your_account_key</string>
		</dict>
	</dict>
</plist>