<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>TestFlight</key>
		<dict>
			<key>ApplicationId</key>
			<string>your_app_id</string>
		</dict>
		<key>Opentok</key>
		<dict>
			<key>APIKey</key>
			<string>your_api_key</string>
			<key>ProjectSecret</key>
			<string>your_secret</string>
		</dict>
		<key>Parse</key>
		<dict>
			<key>ApplicationID</key>
			<string>your_app_id</string>
			<key>ClientKey</key>
			<string>your_client_key</string>
		</dict>
	</dict>
</plist>